{% block content %}

    <div class="overfflow">
        <section class="container-fluid brick">
            <div class="brick__info">
                <div class="brick__info--right hidden-xs">
                    <h2>Hac ex conlaticia stipe Valerius humatur ille Publicola et subsidiis</h2>
                    <p>Hac ex causa conlaticia stipe Valerius humatur ille Publicola et subsidiis amicorum mariti inops cum
                        liberis uxor</p>
                </div>
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-md-6 brick__left">
                        <div class="row">
                            <div class="col-xs-12 visible-xs item1">
                                <div class="brick__info--right">
                                    <h2>Hac ex conlaticia stipe Valerius humatur ille Publicola et subsidiis</h2>
                                    <p>Hac ex causa conlaticia stipe Valerius humatur ille Publicola et subsidiis amicorum
                                        mariti inops cum
                                        liberis uxor</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 item1">
                                <img src="{{ base_url() }}/assets/img/1.png" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 item2">
                                <img src="{{ base_url() }}/assets/img/2.png" alt="">
                            </div>
                            <div class="col-md-6 item2">
                                <img src="{{ base_url() }}/assets/img/3.png" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 item3">
                                <img src="{{ base_url() }}/assets/img/4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 brick__right">
                        <div class="row">
                            <div class="col-md-12 item4">
                                <img src="{{ base_url() }}/assets/img/11.png" alt="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 item2"><img src="{{ base_url() }}/assets/img/10.png" alt=""></div>
                            <div class="col-md-6 item2"><img src="{{ base_url() }}/assets/img/9.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="row brick__middle">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 item2">
                                <img src="{{ base_url() }}/assets/img/5.png" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 item2">
                                <img src="{{ base_url() }}/assets/img/6.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 item3">
                        <img src="{{ base_url() }}/assets/img/7.png" alt="">
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 item2">
                                <img src="{{ base_url() }}/assets/img/8.png" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 item2">
                                <img src="{{ base_url() }}/assets/img/9.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}