{% extends 'base.html.twig' %}

{% block content %}

    <div class="banner-container">
        {{ include('/pages/banner.twig') }}
    </div>
    <div class="first-numbers-container">
        {{ include('/pages/first-numbers.twig') }}
    </div>
    <div class="expertise-container">
        {{ include('/pages/expertise.twig') }}
    </div>
    <div class="second-numbers-container">
        {{ include('/pages/second-numbers.twig') }}
    </div>
    <div class="team-container">
        {{ include('/pages/team.twig') }}
    </div>
    <div class="partners-container">
        {{ include('/pages/partners.twig') }}
    </div>

{% endblock %}


