{% extends 'base.html.twig' %}

{% block content %}

    <div class="banner-container">
        {{ include('/section/banner.html.twig') }}
    </div>
    <div class="first-numbers-container">
        {{ include('/section/first-numbers.html.twig') }}
    </div>
    <div class="expertise-container">
        {{ include('/section/expertise.html.twig') }}
    </div>
    <div class="second-numbers-container">
        {{ include('/section/second-numbers.html.twig') }}
    </div>
    <div class="team-container">
        {{ include('/section/team.html.twig') }}
    </div>
    <div class="partners-container">
        {{ include('/section/partners.html.twig') }}
    </div>

    <div class="call-container">
        {{ include('/form/call.html.twig') }}
    </div>

{% endblock %}


